/* common shared styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.title {
    color: #3A3A3A;
    font-size: 1.5rem;
    font-weight: 700;
}

/* header section starts */
header {
    padding: 75px 120px 50px;
}

/* nav section */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar  ul {
    display: flex;
    gap: 30px;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    color: #3A3A3A;
}

/* responsive for mobile devices */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }
    .navbar {
        flex-direction: column;
        gap: 20px;
    }
    .navbar ul {
        gap: 20px;
    }
}

/* responsive for mobile devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
    header {
        padding: 40px 80px;
    }
    .navbar {
        flex-direction: column;
        gap: 30px;
    }
    .navbar ul {
        gap: 40px;
    }
}