/* common shared styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.title {
    color: #3A3A3A;
    font-size: 1.5rem;
    font-weight: 700;
}

/* header section starts */
header {
    padding: 75px 120px 50px;
}

/* nav section */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar  ul {
    display: flex;
    gap: 30px;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    color: #3A3A3A;
}

/* banner section */
.banner {
    display: flex;
    padding-top: 50px;
    align-items: center;
    gap: 130px;
    justify-content: space-between;
}

.banner-content {
    max-width: 580px;
}

.banner-title {
    color: #3A3A3A;
    font-size: 3rem;
    font-weight: 700;
}

.banner-text {
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
    margin: 25px 0;
}

.btn-banner {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 25px;
    border: none;
    border-radius: 40px;
    background-color: #E02C6D;
    display: inline-flex;
    gap: 8px;
    align-items: center;
}

.banner-img {
    background-image: url('images/Circle\ design.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.banner-img img {
    padding: 2rem;
    width: 100%;
}

/* main section */
/* sponsor section */
.sponsor-container {
    max-width: 1100px;
    margin: auto;
    padding: 40px 75px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    column-gap: 50px;
    border-top: 1px solid #DDE4EB;
    border-bottom: 1px solid #DDE4EB;
}

/* collection section */
.collection {
    padding: 100px 200px 50px;
}

.collection-title {
    color: #3A3A3A;
    font-size: 1.75rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}

.collection-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    
}

.card {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 20px 15px;
}

.card img {
    width: 100%;
}

.card-title {
    color: #18191F;
    font-size: 1.75rem;
    font-weight: 500;
    margin: 15px 0 0;
}

.price {
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.5rem;
    font-weight: 400;
}

.rating {
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.rating-point {
    color: #5E6366;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.fa-star, .fa-star-half {
    width: 12px;
    height: 12px;
    color: #FB8200;
}

.card-text {
    color: #787885;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    line-height: 20px;
    margin-top: 5px;
}

.collection-link {
    text-align: right;
    margin-top: 3rem;
}

.see-more {
    color: rgba(224, 44, 109, 0.87);
    font-weight: 700;
    text-decoration: none;
}

/* feature section */
.feature {
    display: flex;
    margin-top: 50px;
    gap: 120px;
    padding: 0 165px;
    align-items: center;
}

.feature-title {
    color: #0A0826;
    font-weight: 700;
    font-size: 2.3rem;
}
.feature-text {
    color: #6C6C6C;
    font-weight: 700;
    line-height: 1.75rem;
}

.btn-feature {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 25px;
    border: none;
    background-color: #E02C6D;
    display: inline-flex;
    gap: 8px;
    align-items: center;
    margin-top: 15px;
}

/* footer section */
footer {
    margin-top: 100px;
    color: #fff;
    padding: 50px;
    text-align: center;
    background-color: #0A0826;
}

.footer-title {
    font-size: 1.5rem;
    font-weight: 700;
}

.footer-text {
    color: #D9DBE1;
    font-size: 14px;
    font-weight: 700;
    margin: 20px 0;
}

.social-links {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.fa-brands {
    width: 32px;
    height: 32px;
}

/* responsive for mobile devices */
@media screen and (max-width: 576px) {
    /* header section */
    header {
        padding: 20px;
    }
    .navbar {
        flex-direction: column;
        gap: 20px;
    }
    .navbar ul {
        gap: 20px;
    }
    /* banner section */
    .banner {
        flex-direction: column-reverse;
        gap: 1.25rem;
    }

    .banner-content {
        text-align: center;
    }

    .banner-title {
        font-size: 1.5rem;
    }
    .banner-text  {
        font-size: 14px;
    }
    .btn-banner {
        font-weight: 500;
    }

    /* main section */
    /* sponsor section */
    .sponsor-container {
        border: none;
        padding: 50px 20px;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
    }

    .sponsor-container img:nth-child(n + 5) {
        grid-row: 2;
    }

    .sponsor-logo {
        width: 100%;
    }

    /* collection section */
    .collection {
        padding: 20px;
    }

    .collection-card-container {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    /* feature section */
    .feature {
        flex-direction: column-reverse;
        padding: 20px;
        gap: 30px;
    }

    .feature-content {
        text-align: center;
    }

    .feature-img img {
        width: 100%;
    }
}

/* responsive for tablet devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
    header {
        padding: 40px 80px;
    }
    .navbar {
        flex-direction: column;
        gap: 30px;
    }
    .navbar ul {
        gap: 40px;
    }

    /* banner section */
    .banner {
        flex-direction: column-reverse;
        gap: 3rem;
    }

    .banner-content {
        text-align: center;
    } 

    /* main section */
    /* sponsor section */
    .sponsor-container {
        border: none;
        /* padding: 50px 20px; */
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
    }

    .sponsor-container img:nth-child(n + 5) {
        grid-row: 2;
    }

    .sponsor-logo {
        width: 100%;
    }

    /* collection section */
    .collection {
        padding: 1.5rem;
    }

    .collection-card-container {
        gap: 30px;
    }

     /* feature section */
     .feature {
        flex-direction: column-reverse;
        padding: 40px;
        gap: 30px;
    }

    .feature-content {
        text-align: center;
    }

    .feature-img img {
        width: 100%;
    }
}